/* Font Families:
font-family: 'Bebas Neue', sans-serif;
font-family: 'Noto Sans JP', sans-serif;

*/

body {
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(4, 2, 57);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.header h1 {
    margin-top: 8rem;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;
    color: rgb(133, 7, 7);
    text-shadow: 0px 0px 2px #cecccc;
    letter-spacing: 0.35rem;
    text-align: center;
}

.form {
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    text-shadow: 0px 4px 2px #565656;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
}
.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form select {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.submit {
    border-radius: 25px;
    border-style: none;
    width: 80%;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    color: rgb(4, 2, 57);
    background-color: rgb(133, 7, 7);
    text-shadow: 1px 1px 0px rgba(205,205,205,0.76);
}

.submit:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, inset 0px 0px 5px 4px rgba(101,101,101,0.37); 
box-shadow: 0px 10px 13px -7px #313030, inset 0px 0px 5px 4px rgba(101,101,101,0.37);
}

.submit:active {
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, inset 0px 0px 5px 4px rgba(60,54,56,0);
}

#movieDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff;
}

#imageDiv img {
    display: flex;
    flex-shrink: 1;
    width: 100%;
    height: auto;
    object-fit: cover;
}

#overviewDiv {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#overviewDiv h2{
    font-size: 3rem;
}

#overviewDiv p {
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.dislike, .addToWatchList, .watchlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

#dislikeBtn:hover, #addBtn:hover, #watchlistBtn:hover {
    cursor: pointer;
}



