/* Font Families:
font-family: 'Bebas Neue', sans-serif;
font-family: 'Noto Sans JP', sans-serif;

*/

body {
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(4, 2, 57);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.nav {
    width: 100%;
    height: 3.5rem;
    position: relative;
    display: flex;
    color: #fff;
    font-family: 'Noto Sans JP', sans-serif;
    justify-content: flex-end;
    letter-spacing: 1.25px;
    box-shadow: 0px -2px 20px #0e408b;
    z-index: 2;
} 

.nav .watchList{
    position: fixed;
    top: 0;
    right: 0;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3rem;
}  

.watchList:hover {
    cursor: pointer;
} 

.header {
    box-shadow: 0px -2px 20px #0e408b;
    width: 100%;
}

.header h1 {
    margin-top: 8rem;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;
    color: rgb(133, 7, 7);
    text-shadow: 0px 0px 2px #cecccc;
    letter-spacing: 0.35rem;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffffd9;
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 4rem;
    text-shadow: 0px 4px 2px #565656;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
}


.form select {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    background-color: rgb(133, 7, 7);
    border: 1.5px solid #ffffffb4;
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff;
    
}

.submit {
	box-shadow: -2px 2px 9px 1px #91b8b3;
	background:linear-gradient(to bottom, #2f3332 5%, #850707 100%);
	background-color:#2f3332;
	border-radius:25px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Impact;
	font-size:24px;
	padding:12px 29px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}
.submit:hover {
	background:linear-gradient(to bottom, #850707 5%, #2f3332 100%);
	background-color:#850707;
}
.submit:active {
	position:relative;
	top:1px;
}



    .movieDiv {
        display: grid;
        text-align: center;
        grid-template-rows: repeat(5, 1fr);
        justify-content: center;
        column-gap: 0.75rem;
        width: 95%;
        height: auto;
        margin-top: 4rem;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Noto Sans JP', sans-serif;
        color: #fff;
    }

@media only screen and (min-width: 712px) {
     .movieDiv {
    display: none;
    text-align: center;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    column-gap: 0.75rem;
    width: 97%;
    height: auto;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
   
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff;
} 

.movie-1 img, .movie-2 img, .movie-3 img, .movie-4 img, .movie-5 img {
    display: block;
    text-align: center;
    transition: transform .2s;
}

.movie-1 img:hover, .movie-2 img:hover, .movie-3 img:hover, .movie-4 img:hover, .movie-5 img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

}

.movie-1,
.movie-2,
.movie-3,
.movie-4,
.movie-5 {
    text-align: center;
}

.movie-1 img, .movie-2 img, .movie-3 img, .movie-4 img, .movie-5 img {
    display: block;
    text-align: center;
    
}

.movie-1 img:hover, .movie-2 img:hover, .movie-3 img:hover, .movie-4 img:hover, .movie-5 img:hover {
    cursor: pointer;
}

.movieDiv img {
    object-fit: cover;
    width: 100%;
    height: auto;
    background-color: #313030;
    border: 4px solid #242222;
    border-radius: 15px;
}

#movieTitle {
    position: relative;
    margin-top: 2.5rem;
}

.plotfieldDiv {
    position: relative;
    text-align: center;
    font-size: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.additionalInfoDiv {
    position: relative;
    text-align: center;
    font-weight: 600;
    margin-right: .5rem;
    margin-left: .5rem;
}




/* .buttons {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.dislike, .addToWatchList, .watchlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

#dislikeBtn:hover, #addBtn:hover, #watchlistBtn:hover {
    cursor: pointer;
} */



